name: CI
on:
  push:
    branches: main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  deployments: write
  security-events: write
  actions: read
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment: pre-commit
    env:
      YAMLFIX_EXPLICIT_START: false
      YAMLFIX_SEQUENCE_STYLE: block_style
    steps:
    - name: Checkout repository
      uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v4.0.0
    - run: go version
    - name: Setup Python
      uses: actions/setup-python@d09bd5e6005b175076f227b13d9730d56e9dcfcb # v4.0.0
      with:
        python-version: 3.x       
    - name: Run pre-commit hooks
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      continue-on-error: true
    - name: pre-commit.ci lite
      uses: pre-commit-ci/lite-action@5d6cc0eb514c891a40562a58a8e71576c5c7fb43 # v1.1.0
  packages-list:
    name: Get Packages List
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.folders_no_base_path }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Get Packages List
        id: packages
        uses: Drafteame/list-folders-action@main
        with:
          paths: packages
      - name: Output total sub-folders
        run: >
          echo "Total sub-folders: ${{ steps.packages.outputs.total }}"
      - name: Output folders with base path
        run: >
          echo "Folders with base path: ${{ steps.packages.outputs.folders }}"
      - name: Output folders without base path
        run: >
          echo "Folders without base path: ${{ steps.packages.outputs.folders_no_base_path }}"
      - name: Output folders by path
        run: >
          echo "Folders by path: ${{ steps.packages.outputs.folders_by_path }}"
  aur:
    name: ${{ matrix.package }}
    needs: packages-list
    runs-on: ubuntu-latest
    environment: ${{ matrix.package }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.packages-list.outputs.packages) }}
    permissions:
      contents: write
      pull-requests: read
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Check for ${{ matrix.package }} changed files
        id: changed
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: packages/${{ matrix.package }}/**
      - name: Validate and update ${{ matrix.package }} package
        uses: heyhusen/archlinux-package-action@04303ce8da27317c34f00ea0a2c61ee0eed65ee3 # v2.4.0
        if: steps.changed.outputs.any_changed == 'true'
        with:
          path: packages/${{ matrix.package }}
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
          aur: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          file_pattern: "packages/${{ matrix.package }}/*"
          commit_message: "ci: Update ${{ matrix.package }} package files"
