name: CI
on:
  push:
    branches: main
  pull_request:
  workflow_dispatch:
jobs:
  aur:
    name: Bump AUR packages
    runs-on: ubuntu-latest
    environment: AUR
    permissions:
      contents: write
    container: cachyos/cachyos:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Create build user and setup permissions
        run: |
          useradd -m -s /bin/bash builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder $(pwd)
      - name: Install dependencies
        run: |
          pacman -Syu --needed --noconfirm paru
          su - builder -c "paru -Syu --needed --noconfirm pacman-contrib namcap git devtools bumper-bin yq"
      - run: git config --global --add safe.directory '*'
      - run: su - builder -c "bumper $(pwd)/packages/"
 
