name: CI
on:
  push:
    branches: main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  deployments: write
  security-events: write
  actions: read
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment: pre-commit
    env:
      YAMLFIX_EXPLICIT_START: false
      YAMLFIX_SEQUENCE_STYLE: block_style
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.0.0
    - run: go version
    - name: Setup Python
      uses: actions/setup-python@v4.0.0
      with:
        python-version: 3.x       
    - name: Run pre-commit hooks
      uses: pre-commit/action@v3.0.1
      continue-on-error: true
    - name: pre-commit.ci lite
      uses: pre-commit-ci/lite-action@v1.1.0
  packages-list:
    name: Get Packages List
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.folders_no_base_path }}
    steps:
      - uses: actions/checkout@v5
      - name: Get Packages List
        id: packages
        uses: Drafteame/list-folders-action@main
        with:
          paths: packages
      - name: Output total sub-folders
        run: >
          echo "Total sub-folders: ${{ steps.packages.outputs.total }}"
      - name: Output folders with base path
        run: >
          echo "Folders with base path: ${{ steps.packages.outputs.folders }}"
      - name: Output folders without base path
        run: >
          echo "Folders without base path: ${{ steps.packages.outputs.folders_no_base_path }}"
      - name: Output folders by path
        run: >
          echo "Folders by path: ${{ steps.packages.outputs.folders_by_path }}"
  aur:
    name: ${{ matrix.package }}
    needs: packages-list
    runs-on: ubuntu-latest
    environment: ${{ matrix.package }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.packages-list.outputs.packages) }}
    permissions:
      contents: write
      pull-requests: write
      checks: write
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Check for ${{ matrix.package }} changed files
        id: changed
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: packages/${{ matrix.package }}/**
      - name: Validate and update ${{ matrix.package }} package
        uses: heyhusen/archlinux-package-action@v2.4.0
        if: steps.changed.outputs.any_changed == 'true'
        with:
          path: packages/${{ matrix.package }}
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
          aur: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          file_pattern: "packages/${{ matrix.package }}/*"
          commit_message: "ci: Update ${{ matrix.package }} package files"
